<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imageshop.mapper.CodeClassMapper"> 
   
   <insert id="create">
   	insert into code_class(class_code,class_name) values (#{classCode},#{className})
   </insert>

	<select id="read" resultType="CodeClass">
		select class_code,class_name,use_yn,reg_date
		from code_class
		where (class_code=#{classCode})
	
	</select>

	<update id="update" >
		update code_class
		set class_name=#{className}
		where class_code=#{classCode}
	
	</update>

	<delete id="delete">
		delete from code_class
		where class_code=#{classCode}
	</delete>
	
	<select id="list" resultType="CodeClass">
		select class_code,class_name,use_yn,reg_date
		from (select class_code,class_name,use_yn,reg_date from code_class
		order by class_code desc,reg_date desc)
	</select>
</mapper>  