<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.imageshop.mapper.CodeMapper">
 	<select id="getCodeClassList" resultType="com.imageshop.security.domain.CodeLabelValue">
 		select class_code as value, class_name as label
 		from code_class
 		where use_yn='Y'
 		order by class_name
 	
 	</select>
 
 	<select id="getCodeList" resultType="com.imageshop.security.domain.CodeLabelValue">
 		select code_value as value,code_name as label
 		from code_detail
 		where class_code=#{classCode} and use_yn='Y'
 		order by sort_seq
 	
 	</select>
 
 </mapper>