<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.imageshop.mapper.CoinMapper">
 	
 	<insert id="create">
 		insert into charge_coin_history(history_no,user_no,amount)
 		values(history_no_seq.nextval,#{userNo},#{amount})
 	
 	</insert>
 	
 	<update id="charge">
 		update member
 		set coin=(coin+#{amount}), upd_date=to_date(sysdate,'yyyy.mm.dd')
 		where user_no=#{userNo}
 	</update>
 	
 	<select id="list" resultType="ChargeCoin">
 	
 		<![CDATA[
 		select history_no,user_no,amount,reg_date
 		from charge_coin_history
 		where history_no>0 and user_no=#{userNo}
 		order by history_no desc
 		]]>
 	</select>
 	
 	<insert id="createPayHistory">
 		insert into pay_coin_history(user_no,item_id,amount)
 		values(#{userNo},#{itemId},#{amount})
 	
 	</insert>
 	
 	<update id="pay">
 		update member
 		set coin=(coin-#{amount}),
 		upd_date=to_date(sysdate,'yyyy.mm.dd')
 		where user_no=#{userNo}
 	</update>
 	
 	
 	<select id="listPayHistory" resultType="PayCoin">
 	<![CDATA[
 		select a.history_no,a.user_no,a.item_id,b.item_name,a.amount,a.reg_date
 		from pay_coin_history a inner join item b 
 		on a.item_id=b.item_id
 		where a.history_no>0 and user_no=#{userNo}
 		order by a.history_no desc
 		]]>
 	</select>
 	
 	
 </mapper>