<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.imageshop.mapper.MemberMapper">
 
 	<resultMap type="Member" id="memberMap">
		<id property="userNo" column="user_no" />
		<result property="userNo" column="user_no" />
		<result property="userId" column="user_id" />
		<result property="userPw" column="user_pw" />
		<result property="userName" column="user_name" />
		<result property="job" column="job" />
		<result property="coin" column="coin" />
		<result property="enabled" column="enabled" />
		<result property="regDate" column="reg_date" />
		<result property="updDate" column="upd_date" />
		<collection property="authList" resultMap="authMap">
		</collection>
	</resultMap>
 
 	<resultMap type="MemberAuth" id="authMap">
 		<result property="userNo" column="user_no"/>	
 		<result property="auth" column="auth"/>	
 	
 	</resultMap>
 		
 		<select id="readByUserId"  resultMap="memberMap">
 			select mem.user_no,mem.user_id,mem.user_pw,mem.user_name,mem.job,
 					mem.coin,mem.enabled,mem.reg_date,mem.upd_date,auth.auth
 			from member mem left outer join member_auth auth 
 			on mem.user_no=auth.user_no
 			where mem.user_id=#{userId}
 		
 		</select>
 
 	<insert id="create">
		insert into member(user_no,user_id,user_pw,user_name,job)
		values(user_no_seq.nextval,#{userId},#{userPw},#{userName},#{job})
	  <selectKey keyProperty="userNo" resultType="int" order="AFTER">
		 select user_no from member where job=#{job}
	  </selectKey>
	</insert>
 
 	<select id="read" resultMap="memberMap">
 		select mem.user_no,mem.user_id,user_pw,user_name,job,
 				coin,reg_date,upd_date,auth
 		from member mem left outer join member_auth auth on mem.user_no=auth.user_no
 		where mem.user_no=#{userNo}
 	
 	</select>
 
 	<update id="update">
 		update member set user_name=#{userName},job=#{job}
 		where user_no=#{userNo}
 	
 	</update>
 	
 	<delete id="delete">
 		delete from member where user_no=#{userNo}
 	
 	</delete>
 	
 	<select id="list" resultType="Member">
 		select user_no,user_id,user_pw,user_name,
 				(select code_name from code_detail where class_code='A01' and code_value=job) as job,
 				coin,reg_date
 		from member
 		oreder by reg_date desc	
 	
 	</select>
 	
 	<insert id="createAuth">
 		insert into member_auth(user_no,auth)
 		values(#{userNo},#{auth})
 	
 	</insert>
 	
 	<delete id="deleteAuth">
 		delete from member_auth
 		where user_no=#{userNo}
 	</delete>

	<select id="countAll" resultType="int">
		select count(*) from member
	</select> 	
 </mapper>