<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.imageshop.mapper.PerformanceLogMapper">
 	
  <insert id="create">
  	insert into performance_log(log_no,signature_name,signature_type_name,duration_time)
  	values(perlog_no_seq.nextval,#{signaturName},#{signatureTypeName},#{durationTime})
  
  </insert>
 	
 	<select id="list" resultType="com.imageshop.domain.PerformanceLog">
 		select log_no,signature_name,signature_type_name,duration_time,reg_date
 		from performance_log
 		order by log_no desc
 	
 	</select>
 	
 </mapper>