<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.imageshop.mapper.UserItemMapper">
 	
 	<insert id="create">
 		insert into user_item(user_no,item_id)
 		values(#{userNo},#{itemId})
 	</insert>
 	
 	<select id="list" resultType="UserItem">
 		select a.user_item_no,a.user_no,a.item_id,a.reg_date,
 			   b.item_nameb.price,b.description,b.picture_url
 		from user_item a inner join item b on a.item_id=b.item_id
 		where user_no=#{userNo}
 		order by user_item_no desc,reg_date desc
 	
 	</select>
 	
 	<select id="listAll" resultType="UserItem">
 	 <![CDATA[
 		select a.user_item_no,a.user_no,a.item_id,a.reg_date,
 			   b.item_name,b.price,b.description,b.picture_url
 		from user_item a inner join item b 
 		on a.item_id=b.item_id
 		where history_no>0
 		order by user_item_no desc, reg_date desc
 		]]>
 	</select>
 	
 	
 	<select id="read" resultType="UserItem">
 		select a.user_item_no,a.user_no,a.item_id,a.reg_date,
 			   b.item_name,b.price,b.description,b.picture_url
 		from user_item a inner join item b 
 		on a.item_id=b.item_id
 		where user_item_no=#{userItemNo}
 	
 	</select>
 	
 </mapper>